<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.udelvd"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".vistas.activities.EditarEntrevistadoActivity"
            android:parentActivityName=".vistas.activities.MainActivity" />
        <activity
            android:name=".vistas.activities.NuevoEntrevistadoActivity"
            android:parentActivityName=".vistas.activities.MainActivity" />
        <activity
            android:name=".vistas.activities.EditarPerfilActivity"
            android:parentActivityName=".vistas.activities.PerfilActivity" />
        <activity
            android:name=".vistas.activities.PerfilActivity"
            android:parentActivityName=".vistas.activities.MainActivity" />
        <activity
            android:name=".vistas.activities.RegistroActivity"
            android:parentActivityName=".vistas.activities.LoginActivity" />
        <activity android:name=".vistas.activities.LoginActivity" />
        <activity
            android:name=".EventsActivity"
            android:parentActivityName=".InterviewsListActivity" />
        <activity
            android:name=".InterviewsListActivity"
            android:parentActivityName=".vistas.activities.MainActivity" />
        <activity android:name=".vistas.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>