<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cl.udelvd"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- Main -->
        <activity android:name=".vistas.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistas.activities.InvestigadorListActivity"
            android:parentActivityName=".vistas.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <!-- ENTREVISTAS -->
        <activity
            android:name=".vistas.activities.EntrevistasListaActivity"
            android:parentActivityName=".vistas.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".vistas.activities.NuevaEntrevistaActivity"
            android:parentActivityName=".vistas.activities.EntrevistasListaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".vistas.activities.EditarEntrevistaActivity"
            android:parentActivityName=".vistas.activities.EntrevistasListaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <!-- ENTREVISTADO -->
        <activity
            android:name=".vistas.activities.NuevoEntrevistadoActivity"
            android:parentActivityName=".vistas.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".vistas.activities.EditarEntrevistadoActivity"
            android:parentActivityName=".vistas.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <!-- INVESTIGADOR -->
        <activity
            android:name=".vistas.activities.PerfilActivity"
            android:parentActivityName=".vistas.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".vistas.activities.EditarPerfilActivity"
            android:parentActivityName=".vistas.activities.PerfilActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".vistas.activities.RegistroActivity"
            android:parentActivityName=".vistas.activities.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".vistas.activities.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="udelvd-dev.herokuapp.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistas.activities.ResetearPassActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".vistas.activities.RecuperacionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <!-- EVENTOS -->
        <activity
            android:name=".vistas.activities.EventosActivity"
            android:parentActivityName=".vistas.activities.EntrevistasListaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".vistas.activities.NuevoEventoActivity"
            android:parentActivityName=".vistas.activities.EventosActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".vistas.activities.EditarEventoActivity"
            android:parentActivityName=".vistas.activities.EventosActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <!-- ESTADISTICAS -->
        <activity
            android:name=".vistas.activities.WebViewActivity"
            android:parentActivityName=".vistas.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <!-- ACCIONES-->
        <activity
            android:name=".vistas.activities.AccionesListActivity"
            android:parentActivityName=".vistas.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".vistas.activities.EditarAccionActivity"
            android:parentActivityName=".vistas.activities.AccionesListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".vistas.activities.NuevaAccionActivity"
            android:parentActivityName=".vistas.activities.AccionesListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <service
            android:name=".servicios.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Icono de notificaciones por defecto usado FCM console en background -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_notificacion_1200" />
    </application>

</manifest>