<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cl.udelvd"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".views.activities.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main -->
        <activity android:name=".views.activities.MainActivity"></activity>
        <activity
            android:name=".views.activities.ResearcherListActivity"
            android:parentActivityName=".views.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- ENTREVISTAS -->
        <activity
            android:name=".views.activities.InterviewsListActivity"
            android:parentActivityName=".views.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.NewInterviewActivity"
            android:parentActivityName=".views.activities.InterviewsListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.EditInterviewActivity"
            android:parentActivityName=".views.activities.InterviewsListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- ENTREVISTADO -->
        <activity
            android:name=".views.activities.NewIntervieweeActivity"
            android:parentActivityName=".views.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.EditIntervieweeActivity"
            android:parentActivityName=".views.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- INVESTIGADOR -->
        <activity
            android:name=".views.activities.ProfileActivity"
            android:parentActivityName=".views.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.EditProfileActivity"
            android:parentActivityName=".views.activities.ProfileActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.RegistryActivity"
            android:parentActivityName=".views.activities.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.ResetPassActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.RecoveryActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- EVENTOS -->
        <activity
            android:name=".views.activities.EventsActivity"
            android:parentActivityName=".views.activities.InterviewsListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.NewEventActivity"
            android:parentActivityName=".views.activities.EventsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.EditEventActivity"
            android:parentActivityName=".views.activities.EventsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- ESTADISTICAS -->
        <activity
            android:name=".views.activities.WebViewActivity"
            android:parentActivityName=".views.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- ACCIONES -->
        <activity
            android:name=".views.activities.ActionListActivity"
            android:parentActivityName=".views.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.EditActionActivity"
            android:parentActivityName=".views.activities.ActionListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.NewActionActivity"
            android:parentActivityName=".views.activities.ActionListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- TODO: True en produccion-->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Icono de notificaciones por defecto usado FCM console en background -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_notification_1200" />
    </application>

</manifest>